@page "/2025/03/OFIQ_Win32_App"
@page "/Site/2025/03/OFIQ_Win32_App"
<h1>Win32 app for face image quality</h1>
<p>One of my point of interests was checking face image quality using software library. I don't want to get too much into the details but there are some ISO standards like ISO 19794-5.
    When I have made some research, I have found that there are some commercial libraries which can be used. If you are searching for some free libraries, you can use OpenCV, however in OpenCV by desing you can search just for few specific points like left eye, right eye, ears, nose, face contours. But if you want 
    to check other ISO compliance like light conditions, sharpness, unified background, you need to use commercial libraries or you can take a look on OFIQ library
    (To be continued)
</p>

