@page "/posts"
@inject HttpClient Http

<PageTitle>Kanasdev posts</PageTitle>

<h1>List of my posts I wrote</h1>
<p>   
    <ul>
        <li><strong>2025</strong>
            <ul>
                <li><strong>January</strong>
                    <ul>                       
                        <li><a href=@String.Format("{0}2025/01/AI_powered_programming",Http.BaseAddress)>AI powered programming</a><p>Some thoughts about current development improvements while uing AI</p></li>
                        <li><a href=@String.Format("{0}2025/01/Interconnection_between_systems",Http.BaseAddress)>Interconnectors between systems</a><p>Conclusions after creating some API between systems - current and past</p></li>
                        <li><a href=@String.Format("{0}2025/01/Blazor_publish_github",Http.BaseAddress)>Publishing blazor on github</a><p>Blazor web frontend - experiences from publishing on a github platform</p></li>

                    </ul>
                </li>
             </ul>
        </li>
       
            
       </ul>    
</p>


