@page "/posts"
@inject HttpClient Http

<PageTitle>Kanasdev posts</PageTitle>

<h1>List of my posts I wrote</h1>
<p>   
        <ul>
            <li><strong>2025</strong>
            <ul>
                <li><strong>January</strong>
                    <ul>
                        <li><a href="/2025/01/AI_powered_programming">AI powered programming</a><p>Some thoughts about current development improvements while uing AI</p></li>
                        <li><a href="/2025/01/Interconnection_between_systems">Interconnectors between systems</a><p>Conclusions after creating some API between systems - current and past</p></li>
                    </ul>
                </li>
             </ul>
        </li>
       
            
       </ul>    
</p>


